body {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.form-control-input {
  width: 200px;
  display: inline;
  outline: none;
}

.form-control-input:focus {
  box-shadow: none;
}

.shell {
  position: absolute;
  width: 90px;
  height: 92vh;
  display: flex;
  z-index: 900;
  flex-direction: column;
  background-color: rgb(240, 244, 246);
  border-radius: 10px;
  transition: 0.3s;
  overflow: hidden;
}

.box {
  display: block;
  height: 15%;
  width: 85%;
  margin: 1vh;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
  color: #000;
}

.box i {
  font-size: 60px;
  position: absolute;
  margin: -18px 10px 6px 20px;
}

.box:nth-child(1)::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(55, 65, 81);
  position: absolute;
  bottom: -10px;
}

.box span {
  position: relative;
  top: 22px;
  left: 80px;
  font: 500 20px "";
  opacity: 0;
  transition: 0.1s;
}

.shell:hover {
  width: 230px;
}

.box:hover {
  background-color: rgb(209, 213, 219);
}

.shell:hover span {
  opacity: 1;
}

.box:hover {
  color: #fff;
}
.v-enter,
.v-leave-to {
  opacity: 0;
  transform: translateX(40px);
}

.v-enter-active,
.v-leave-active {
  transition: all 0.5s ease;
}
#msg1,
#check1,
#book1 {
  margin-left: 90px;
  width: calc(100% - 90px);
  background-image: url("../img/background1.png");
  height: 92vh;
}

#user {
  text-align: center;
  width: 60vw;
  height: 85vh;
  margin-left: 10vw;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-flow: column;
}
#user input {
  display: inline;
  width: auto;
}
#user button {
  margin-left: 40px;
}
h3 {
  text-align: center;
}
.body {
  position: relative;
}
#book_footer,
#jy_footer {
  text-align: center;
  border: 0;
  background: rgba(255, 255, 255, 0);
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  box-shadow: none;
}
.table {
  border-collapse: separate;
  border-spacing: 0 0.8rem;
  text-align: center;
}
.search {
  float: right;
  display: flex;
  align-items: center;
}
.form-control-input {
  width: 200px;
  display: inline;
  margin-right: 20px;
}
.form-control-input:focus {
  box-shadow: none;
  outline: none;
}
#xg {
  position: absolute;
  top: 3vh;
  left: 95vw;
}
#msgshow {
  position: absolute;
  width: 300px;
  height: auto;
  background-color: rgba(240, 240, 240, 0.5);
  border: 1px solid #ffff;
  border-radius: 10px;
  top: 10vh;
  left: 40vw;
}
#msgshow > div {
  padding-left: 20px;
}

body::-webkit-scrollbar {
  display: none;
}
